* {
    margin: 0; 
    padding: 0;
    font-family: "Trebuchet MS";
}
@font-face {
    font-family: TabacSans;
    src: url(TabacSans.ttf);
}
body {
    background-color: rgb(88, 218, 158);
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
p {
    margin: 1%;
    font-family: TabacSans;

}
.header {
    background-color: rgb(186, 68, 70);
    height: 10%;
    font-size: 2.5em;
    padding: 2%;
    color: rgb(46, 35, 35);
    
}
.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
.homepageItem {
    background-color: rgb(131, 99, 200);
    border-color: rgb(234, 177, 64);
    border-style: solid;
    padding: 4%;
}
.news {
    padding: 5%;
}
.game {
    background-color: rgb(21, 143, 86);;
    margin: auto;
    padding: 3%;
    width: max-content;
    line-height: 150%;
}
.gameOptions {
    text-align: left;
}
.importantThing {
    margin-bottom: 1%;
    border-top-style: double;
    border-top-color: rgb(122, 0, 95);
    border-bottom-style: double;
    border-bottom-color: rgb(122, 0, 95);
}
.aboutUsPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1%;
    row-gap: 15%; 
}
.profile {
    border-style:double;
    border-width: 5px;
    border-color: brown;
    height: 100%;
}