.centre {
    margin: auto;
    text-align: center;
    display: block;
}
body {
    background-color:rgb(155, 241, 155);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
.inline {
    float: left;
    width: 18%;
    padding: 1%;
}